<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Dopamine Enhancer</a>

  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link float-left" href="#" (click)="onSelect('home')"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('mom-jokes')"
          >Yo Momma Jokes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('dad-jokes')"
          >Dad Jokes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('wholesome-facts')"
          >Wholesome Fact</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Favorites
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Yo Momma Jokes</a>
          <a class="dropdown-item" href="#">Dad Jokes</a>
          <a class="dropdown-item" href="#">Wholesome Facts</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
